
@model IEnumerable<InventoryItems>



<h2>Countsheet</h2>

@using (Html.BeginForm("BulkUpdateInventoryItems", "InventoryItems", "Post"))
{
    <table class="table table-bordered table-striped table-sm table-hover">
        <tr>
            <th>Name</th>
            <th>Amount On Hand</th>
            <th>Enter Your Count Here:</th>

        </tr>

        @{
            var count = 0;
        }
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Name</td> 
                <td>@item.AmtOnHand @item.CountUnit</td>
                <td>
                    <label asp-for="@item.Name" class="control-label">@item.OrderUnit</label>
                    <input name="[@count].InventoryID" type="hidden" value="@item.InventoryID" />
                    <input type="number" step="0.01" name="[@count].OrderUnitQuantity" class="form-control" value="" />
                    

                    <label asp-for="@item.Name" class="control-label">@item.CountUnit</label>
                    <input name="[@count].InventoryID" type="hidden" value="@item.InventoryID" />
                    <input type="number" step="0.01" name="[@count].CountUnitQuantity" class="form-control" value="" />
                </td>   
            </tr>
            count++;
        }

    </table>
    <input type="submit" value="Submit Inventory Count" class="btn btn-primary" />
    
}

